:root {
  --body-background-color: #fff;
  --background-color-true: #f4f4f5;
  --background-color: var(--background-color-true);
  --border-color: #dfe1e5;
  --surface-color-rgb: 255, 255, 255;
  --surface-color: #fff;
  --scrollbar-color: rgba(0, 0, 0, .2);
  --section-box-shadow-color: rgba(0, 0, 0, .06);
  --menu-box-shadow-color: rgba(0, 0, 0, .24);
  --input-search-background-color: #fff;
  --input-search-border-color: #dfe1e5;
  --primary-color: #3390ec;
  --light-primary-color: rgba(51, 144, 236, 0.08);
  --light-filled-primary-color: #eff6fd;
  --dark-primary-color: #157ce1;
  --primary-text-color: #000;
  --secondary-color: #c4c9cc;
  --secondary-text-color: #707579;
  --light-secondary-text-color: rgba(112, 117, 121, 0.08);
  --danger-color: #df3f40;
  --light-danger-color: rgba(223, 63, 64, 0.08);
  --avatar-online-color: #0ac630;
  --avatar-color-top: var(--peer-avatar-blue-top);
  --avatar-color-bottom: var(--peer-avatar-blue-bottom);
  --chatlist-status-color: var(--avatar-online-color);
  --chatlist-pinned-color: #a2abb2;
  --badge-text-color: #fff;
  --link-color: #00488f;
  --ripple-color: rgba(0, 0, 0, .08);
  --poll-circle-color: var(--border-color);
  --spoiler-background-color: #e3e5e8;
  --spoiler-draft-background-color: #d9d9d9;
  --message-background-color: var(--surface-color);
  --message-checkbox-color: #61c642;
  --message-checkbox-border-color: #fff;
  --message-primary-color: var(--primary-color);
  --light-filled-message-primary-color: var(--light-filled-primary-color);
  --message-secondary-color: var(--secondary-color);
  --message-out-background-color: #eeffde;
  --light-message-out-background-color: rgba(238, 255, 222, 0.08);
  --dark-message-out-background-color: #d9ffb5;
  --message-out-link-color: var(--link-color);
  --message-out-primary-color: #4fae4e;
  --light-filled-message-out-primary-color: #e1f9d2;
  --message-out-status-color: var(--message-out-primary-color);
  --message-out-audio-play-button-color: #fff;
  --gc-background-color: #212121;
  --gc-button-leave-color: rgba(255, 89, 90, .3);
  --gc-button-unmuted-color: rgba(1, 200, 80, .2);
  --gc-button-muted-color: rgba(60, 135, 247, .2);
  --gc-button-hand-color: rgba(223, 68, 184, .2);
  --gc-button-unmuted-fill-color: #195530;
  --gc-button-muted-fill-color: #3C87F7;
  --gc-green-color: #195530;
  --gc-blue-color: #3C87F7;
  --gc-red-color: #643333;
  --gc-primary-text-color: #fff;
  --gc-secondary-text-color: #aaaaaa;
  --gc-green-text-color: #5CC85E;
  --gc-blue-text-color: #3390ec;
  --gc-red-text-color: #ff595a;
  --gc-right-column-width: 26.25rem;
}

* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #edeff2;
    font-family: "Calibri", "Roboto", sans-serif;
  }
  
  .chat_window {
    position: absolute;
    width: calc(100% - 20px);
    max-width: 900px;
    height: 700px;
    border-radius: 10px;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    background-color: #e3dede;
    overflow: hidden;
  }
  
  .chat-info-container {
    background-color: #fff;
    width: 100%;
    padding: 20px 0 15px;
    /* box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1); */
  }
  .top_menu .buttons {
    margin: 3px 0 0 20px;
    position: absolute;
  }
  .top_menu .buttons .button {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    position: relative;
  }
  .top_menu .buttons .button.close {
    background-color: #f5886e;
  }
  .top_menu .buttons .button.minimize {
    background-color: #fdbf68;
  }
  .top_menu .buttons .button.maximize {
    background-color: #a3d063;
  }
  .top_menu .title {
    text-align: center;
    color: #bcbdc0;
    font-size: 20px;
  }
  
  .messages {
    position: relative;
    list-style: none;
    padding: 20px 10px 30px 10px;
    margin: 0;
    height: 500px;
    overflow: auto;
  }
  /* .messages .message {
    clear: both;
    overflow: hidden;
    margin-bottom: 20px;
    transition: all 0.5s linear;
    opacity: 0;
  } */
  .messages .message.left .avatar {
    background-color: #f5886e;
    float: left;
  }
  .messages .message.left .text_wrapper {
    background-color: #ffe6cb;
    margin-left: 20px;
  }
  .messages .message.left .text_wrapper::after,
  .messages .message.left .text_wrapper::before {
    right: 100%;
    border-right-color: #ffe6cb;
  }
  .messages .message.left .text {
    color: #c48843;
  }
  .messages .message.right .avatar {
    background-color: #fdbf68;
    float: right;
  }
  .messages .message.right .text_wrapper {
    background-color: #c7eafc;
    margin-right: 20px;
    float: right;
  }
  .messages .message.right .text_wrapper::after,
  .messages .message.right .text_wrapper::before {
    left: 100%;
    border-left-color: #c7eafc;
  }
  .messages .message.right .text {
    color: #45829b;
  }
  .messages .message.appeared {
    opacity: 1;
  }
  .messages .message .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
  }
  .messages .message .text_wrapper {
    display: inline-block;
    padding: 20px;
    border-radius: 6px;
    width: calc(100% - 85px);
    min-width: 100px;
    position: relative;
  }
  .messages .message .text_wrapper::after,
  .messages .message .text_wrapper:before {
    top: 18px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .messages .message .text_wrapper::after {
    border-width: 13px;
    margin-top: 0px;
  }
  .messages .message .text_wrapper::before {
    border-width: 15px;
    margin-top: -2px;
  }
  .messages .message .text_wrapper .text {
    font-size: 18px;
    font-weight: 300;
  }
  
  .bottom_wrapper {
    position: relative;
    width: 100%;
    background-color: #fff;
    padding: 10px 10px;
    position: absolute;
    bottom: 0;
  }
  .bottom_wrapper .message_input_wrapper {
    display: inline-block;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #bcbdc0;
    width: calc(100% - 200px);
    position: relative;
    padding: 0 20px;
  }
  .bottom_wrapper .message_input_wrapper .message_input {
    border: none;
    height: 100%;
    box-sizing: border-box;
    width: calc(100% - 40px);
    position: absolute;
    outline-width: 0;
    color: gray;
  }
  .bottom_wrapper .send_message {
    width: 140px;
    height: 50px;
    display: inline-block;
    border-radius: 50px;
    background-color: #a3d063;
    border: 2px solid #a3d063;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s linear;
    text-align: center;
    float: right;
  }
  .bottom_wrapper .send_message:hover {
    color: #a3d063;
    background-color: #fff;
  }
  .bottom_wrapper .send_message .text {
    font-size: 18px;
    font-weight: 300;
    display: inline-block;
    line-height: 48px;
  }
  
  .message_template {
    display: none;
  }
  
  .messages > li {
    font-size: 15px;
    color: black;
    background: white;
    border-radius: 10px;
    width: fit-content;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .messages > span {
    font-size: 10px;
    font-style: italic;
  }

  .chat-info-container .avatar{
    width: 42px;
    height: 42px;
    border-radius: 50%;
  }

  .chat-info-container .avatar .avatar-photo{
    width: inherit;
    height: inherit;
    border-radius: inherit;
  }

  .chat-info-container .person{
    display: flex;
    align-items: center;
  }

  .chat-info-container .chat-info{
    flex: 1 1 auto;
    overflow: hidden;
    padding-left: 10px;
  }

  .chat-info-container .person .content{
    flex: 1 1 auto;
    padding-left: 1.125rem;
    max-width: 100%;
    overflow: hidden;
    font-size: 2rem;
    font-weight: 600;
  }

  .bubble {
    position: relative;
    z-index: 1;
    margin: 0 auto 0.25rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 7px;
  }

  .bubble-content-wrapper{
    
  }

  .bubble-content-wrapper>.user-avatar {
    position: absolute;
    /* margin-left: -45px; */
    bottom: 0;
    cursor: pointer;
}

avatar-element.avatar-40 {
  --size: 40px;
  --multiplier: 1.35;
}

avatar-element {
  --size: 54px;
  --multiplier: 1;
  --color-top: var(--avatar-color-top);
  --color-bottom: var(--avatar-color-bottom);
  color: #fff;
  width: var(--size);
  height: var(--size);
  line-height: var(--size) !important;
  border-radius: 50%;
  background: linear-gradient(var(--color-top), var(--color-bottom));
  text-align: center;
  font-size: calc(1.25rem / var(--multiplier));
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: uppercase;
  font-weight: 700;
}

.bubble img:not(.emoji), .bubble video {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
avatar-element img {
  width: var(--size) !important;
  height: var(--size) !important;
  border-radius: inherit !important;
  display: block;
}

.bubble .name {
  padding: 5px 9px 0 9px;
  font-weight: 500 !important;
  color: #3390ec;
  /* color: var(--primary-color); */
  font-size: 2rem;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bubble .message {
  font-size: 20px;
  /* font-size: var(--messages-text-size); */
  padding: 0 0.5rem 0.375rem 0.625rem;
  max-width: 100%;
  color: #000;
  /* color: var(--primary-text-color); */
  line-height: 1.3125;
  /* line-height: var(--line-height); */
  word-break: break-word;
  /* white-space: pre-wrap; */
  position: relative;
}

.bubble.is-in .bubble-content, .bubble.is-in .bubble-content .poll-footer-button {
  border-radius: 6px 12px 12px 6px;
}
.bubble-content {
  min-width: 56px;
  max-width: 100%;
  border-radius: 12px;
  box-shadow: 0 1px 2px 0 rgb(16 35 47 / 15%);
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  /* background-color: var(--message-background-color); */
  margin-left: 50px;
  padding: 5px;
}

.bubble .time .inner {
  pointer-events: all;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  line-height: 1;
  padding: inherit;
  white-space: nowrap;
  height: 12px;
  visibility: visible;
}

.bubble .time {
  visibility: hidden;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 1;
  vertical-align: middle;
  pointer-events: none;
  display: inline-flex;
  z-index: 1;
  height: 12px;
  direction: ltr;
  float: right;
  cursor: pointer;
}

.bubble.is-in .time {
  margin-left: -3px;
  padding-right: 8px;
}

.bubble.is-in.is-group-last.can-have-tail .bubble-tail {
  left: -9px;
  bottom: 0;
}

.bubble.is-in.is-group-last.can-have-tail .bubble-content, .bubble.is-in.is-group-last.can-have-tail .poll-footer-button {
  border-bottom-left-radius: 0;
}

.bubble.can-have-tail.is-group-last .bubble-tail {
  position: absolute;
  width: 11px;
  height: 20px;
  z-index: -2;
  display: block;
  fill: #fff;
  /* fill: var(--message-background-color); */
  transform: translateY(1px);
}

.send-time{
  float: right;
}

#typing{
  position: fixed;
  top: 80%;
  left: 0;
  background-color: white;
  font-size: 16px;
}

.emoji-btn, .attach-file{
  font-size: 30px;
}

.emoji-btn, .attach-file, .message_input_wrapper{
  float: left;
}

@media only screen and (min-height: 570px) and (min-width: 601px){
  .emoji-dropdown {
    position: absolute !important;
    left: 0.8125rem;
    bottom: 29.125rem;
    width: 26.25rem !important;
    height: 26.25rem;
    max-height: 26.25rem;
    box-shadow: 0px 5px 10px 5px rgb(16 35 47 / 14%);
    z-index: 3;
    border-radius: 10px;
    transition: transform .2s cubic-bezier(.4, 0, .2, 1),opacity .2s cubic-bezier(.4, 0, .2, 1);
    /* transition: transform var(--esg-transition),opacity var(--esg-transition); */
    transform: scale(0);
    opacity: 0;
    transform-origin: 0 100%;
  }
}

.emoji-dropdown {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: min(282px, calc(1vh * 100 - 135px));
  /* height: min(282px, calc(var(--vh) * 100 - 135px)); */
  background: #fff;
  background: var(--surface-color);
  overflow: hidden;
  flex: 1 1 auto;
  max-height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.emoji-dropdown .emoji-container {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  height: 100%;
}

.emoji-dropdown .tabs-container {
  height: 100%;
}

.tabs-container {
  min-width: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
}

.emoji-dropdown .tabs-container .tabs-tab {
  min-height: 100%;
  flex-direction: column;
  height: 100%;
}

.tabs-container[data-animation=tabs] .tabs-tab {
  transition: transform .25s ease-in-out;
  transition: transform var(--tabs-transition);
}

.tabs-container .tabs-tab.active {
  display: flex;
}

.tabs-container .tabs-tab {
  display: none;
  flex-direction: column;
  grid-row-start: 1;
  grid-column-start: 1;
  background-color: #f4f4f5;
  background-color: var(--background-color);
  overflow: hidden;
}

.emoji-dropdown .emoji-padding .menu-horizontal-div, .emoji-dropdown .stickers-padding .menu-horizontal-div {
  z-index: 4;
  background-color: #fff;
  background-color: var(--surface-color);
}

.emoji-dropdown .menu-horizontal-div {
  width: 100%;
  height: 48px;
}

.menu-horizontal-div {
  --size: var(--scrollable-size, 3.5rem);
  --padding-horizontal: 0px;
  width: 100%;
  height: var(--size);
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  position: relative;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #707579;
  color: var(--secondary-text-color);
  border-bottom: 1px solid #dfe1e5;
  border-bottom: 1px solid var(--border-color);
}
.emoji-dropdown .tabs-container .emoticons-content {
  flex: 1;
  padding: 0;
  position: relative;
  background-color: #fff;
  background-color: var(--surface-color);
}

.emoji-dropdown .tabs-container .scrollable {
  padding: 0 10px;
}
.scrollable.scrollable-y {
  overflow-y: auto;
  overflow-y: overlay;
  scrollbar-width: thin;
  -ms-overflow-style: none;
  transform: translateZ(0);
}
.scrollable {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  max-height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  -webkit-overflow-scrolling: touch;
}

.emoji-dropdown .emoji-category {
  position: relative;
  margin: 0 -0.125rem;
}

.emoji-dropdown .tabs-container .category-title {
  top: 0;
  font-size: 14px;
  font-weight: 500;
  color: #707579;
  color: var(--secondary-text-color);
  z-index: 2;
  padding: 12px 6px 6px 6px;
  width: 100%;
}
.super-emojis {
  display: grid;
  grid-column-gap: 2.44px;
  grid-template-columns: repeat(auto-fill, 2.625rem);
  justify-content: space-between;
  font-size: 2.125rem;
  line-height: 2.125rem;
}

html:not(.emoji-supported) .super-emojis .super-emoji {
  position: relative;
}
.super-emojis .super-emoji {
  display: inline-block;
  margin: 0 0.0625rem;
  padding: 0.25rem;
  line-height: inherit;
  border-radius: 8px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  width: 4.625rem;
  height: 4.625rem;
}

body.animation-level-2 .super-emojis .super-emoji img {
  opacity: 1;
  transition: opacity .2s ease-in-out;
}
.super-emojis .super-emoji .emoji {
  width: 100%;
  height: 100%;
  vertical-align: unset;
  margin: 0;
}
img.emoji {
  width: 18px;
  height: 18px;
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
img, video {
  -webkit-user-drag: none;
}

img {
  border-style: none;
}

.emoji-dropdown .tabs-container .sticky_sentinel--top {
  top: 0;
  height: 1px;
}
.sticky_sentinel {
  position: absolute;
  left: 0;
  right: 0;
  visibility: hidden;
  pointer-events: none;
}

@media only screen and (min-height: 570px) and (min-width: 601px){
  .emoji-dropdown.active {
    opacity: 1;
    transform: scale(1);
  }
}

.bubble.emoji-2x .attachment img.emoji {
  height: 48px;
  width: 48px;
}
.bubble .attachment img, .bubble .attachment video {
  max-width: 100%;
}
.bubble.just-media img {
  -o-object-fit: contain;
  object-fit: contain;
}
.bubble img.emoji {
  height: 18px;
  width: 18px;
  vertical-align: bottom;
}
img.emoji {
  width: 18px;
  height: 18px;
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
img, video {
  -webkit-user-drag: none;
}