* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #edeff2;
    font-family: "Calibri", "Roboto", sans-serif;
  }
  
  .chat_window {
    position: absolute;
    width: calc(100% - 20px);
    max-width: 800px;
    height: 500px;
    border-radius: 10px;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    background-color: #e3dede;
    overflow: hidden;
  }
  
  .chat-info-container {
    background-color: #fff;
    width: 100%;
    padding: 20px 0 15px;
    /* box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1); */
  }
  .top_menu .buttons {
    margin: 3px 0 0 20px;
    position: absolute;
  }
  .top_menu .buttons .button {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    position: relative;
  }
  .top_menu .buttons .button.close {
    background-color: #f5886e;
  }
  .top_menu .buttons .button.minimize {
    background-color: #fdbf68;
  }
  .top_menu .buttons .button.maximize {
    background-color: #a3d063;
  }
  .top_menu .title {
    text-align: center;
    color: #bcbdc0;
    font-size: 20px;
  }
  
  .messages {
    position: relative;
    list-style: none;
    padding: 20px 10px 30px 10px;
    margin: 0;
    height: 347px;
    overflow: auto;
  }
  /* .messages .message {
    clear: both;
    overflow: hidden;
    margin-bottom: 20px;
    transition: all 0.5s linear;
    opacity: 0;
  } */
  .messages .message.left .avatar {
    background-color: #f5886e;
    float: left;
  }
  .messages .message.left .text_wrapper {
    background-color: #ffe6cb;
    margin-left: 20px;
  }
  .messages .message.left .text_wrapper::after,
  .messages .message.left .text_wrapper::before {
    right: 100%;
    border-right-color: #ffe6cb;
  }
  .messages .message.left .text {
    color: #c48843;
  }
  .messages .message.right .avatar {
    background-color: #fdbf68;
    float: right;
  }
  .messages .message.right .text_wrapper {
    background-color: #c7eafc;
    margin-right: 20px;
    float: right;
  }
  .messages .message.right .text_wrapper::after,
  .messages .message.right .text_wrapper::before {
    left: 100%;
    border-left-color: #c7eafc;
  }
  .messages .message.right .text {
    color: #45829b;
  }
  .messages .message.appeared {
    opacity: 1;
  }
  .messages .message .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
  }
  .messages .message .text_wrapper {
    display: inline-block;
    padding: 20px;
    border-radius: 6px;
    width: calc(100% - 85px);
    min-width: 100px;
    position: relative;
  }
  .messages .message .text_wrapper::after,
  .messages .message .text_wrapper:before {
    top: 18px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .messages .message .text_wrapper::after {
    border-width: 13px;
    margin-top: 0px;
  }
  .messages .message .text_wrapper::before {
    border-width: 15px;
    margin-top: -2px;
  }
  .messages .message .text_wrapper .text {
    font-size: 18px;
    font-weight: 300;
  }
  
  .bottom_wrapper {
    position: relative;
    width: 100%;
    background-color: #fff;
    padding: 10px 10px;
    position: absolute;
    bottom: 0;
  }
  .bottom_wrapper .message_input_wrapper {
    display: inline-block;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #bcbdc0;
    width: calc(100% - 160px);
    position: relative;
    padding: 0 20px;
  }
  .bottom_wrapper .message_input_wrapper .message_input {
    border: none;
    height: 100%;
    box-sizing: border-box;
    width: calc(100% - 40px);
    position: absolute;
    outline-width: 0;
    color: gray;
  }
  .bottom_wrapper .send_message {
    width: 140px;
    height: 50px;
    display: inline-block;
    border-radius: 50px;
    background-color: #a3d063;
    border: 2px solid #a3d063;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s linear;
    text-align: center;
    float: right;
  }
  .bottom_wrapper .send_message:hover {
    color: #a3d063;
    background-color: #fff;
  }
  .bottom_wrapper .send_message .text {
    font-size: 18px;
    font-weight: 300;
    display: inline-block;
    line-height: 48px;
  }
  
  .message_template {
    display: none;
  }
  
  .messages > li {
    font-size: 15px;
    color: black;
    background: white;
    border-radius: 10px;
    width: fit-content;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .messages > span {
    font-size: 10px;
    font-style: italic;
  }

  .chat-info-container .avatar{
    width: 42px;
    height: 42px;
    border-radius: 50%;
  }

  .chat-info-container .avatar .avatar-photo{
    width: inherit;
    height: inherit;
    border-radius: inherit;
  }

  .chat-info-container .person{
    display: flex;
    align-items: center;
  }

  .chat-info-container .chat-info{
    flex: 1 1 auto;
    overflow: hidden;
    padding-left: 10px;
  }

  .chat-info-container .person .content{
    flex: 1 1 auto;
    padding-left: 1.125rem;
    max-width: 100%;
    overflow: hidden;
    font-size: 2rem;
    font-weight: 600;
  }

  .bubble {
    position: relative;
    z-index: 1;
    margin: 0 auto 0.25rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 7px;
  }

  .bubble-content-wrapper{
    
  }

  .bubble-content-wrapper>.user-avatar {
    position: absolute;
    /* margin-left: -45px; */
    bottom: 0;
    cursor: pointer;
}

avatar-element.avatar-40 {
  --size: 40px;
  --multiplier: 1.35;
}

avatar-element {
  --size: 54px;
  --multiplier: 1;
  --color-top: var(--avatar-color-top);
  --color-bottom: var(--avatar-color-bottom);
  color: #fff;
  width: var(--size);
  height: var(--size);
  line-height: var(--size) !important;
  border-radius: 50%;
  background: linear-gradient(var(--color-top), var(--color-bottom));
  text-align: center;
  font-size: calc(1.25rem / var(--multiplier));
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: uppercase;
  font-weight: 700;
}

.bubble img:not(.emoji), .bubble video {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
avatar-element img {
  width: var(--size) !important;
  height: var(--size) !important;
  border-radius: inherit !important;
  display: block;
}

.bubble .name {
  padding: 5px 9px 0 9px;
  font-weight: 500 !important;
  color: #3390ec;
  /* color: var(--primary-color); */
  font-size: 2rem;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bubble .message {
  font-size: 20px;
  /* font-size: var(--messages-text-size); */
  padding: 0 0.5rem 0.375rem 0.625rem;
  max-width: 100%;
  color: #000;
  /* color: var(--primary-text-color); */
  line-height: 1.3125;
  /* line-height: var(--line-height); */
  word-break: break-word;
  /* white-space: pre-wrap; */
  position: relative;
}

.bubble.is-in .bubble-content, .bubble.is-in .bubble-content .poll-footer-button {
  border-radius: 6px 12px 12px 6px;
}
.bubble-content {
  min-width: 56px;
  max-width: 100%;
  border-radius: 12px;
  box-shadow: 0 1px 2px 0 rgb(16 35 47 / 15%);
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  /* background-color: var(--message-background-color); */
  margin-left: 50px;
  padding: 5px;
}

.bubble .time .inner {
  pointer-events: all;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  line-height: 1;
  padding: inherit;
  white-space: nowrap;
  height: 12px;
  visibility: visible;
}

.bubble .time {
  visibility: hidden;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 1;
  vertical-align: middle;
  pointer-events: none;
  display: inline-flex;
  z-index: 1;
  height: 12px;
  direction: ltr;
  float: right;
  cursor: pointer;
}

.bubble.is-in .time {
  margin-left: -3px;
  padding-right: 8px;
}

.bubble.is-in.is-group-last.can-have-tail .bubble-tail {
  left: -9px;
  bottom: 0;
}

.bubble.is-in.is-group-last.can-have-tail .bubble-content, .bubble.is-in.is-group-last.can-have-tail .poll-footer-button {
  border-bottom-left-radius: 0;
}

.bubble.can-have-tail.is-group-last .bubble-tail {
  position: absolute;
  width: 11px;
  height: 20px;
  z-index: -2;
  display: block;
  fill: #fff;
  /* fill: var(--message-background-color); */
  transform: translateY(1px);
}

.send-time{
  float: right;
}

#typing{
  position: fixed;
  top: 80%;
  left: 0;
  background-color: white;
  font-size: 16px;
}